---
import HeadMeta from '../components/HeadMeta.astro';
import Container from '../components/Container.astro';
import Form from '../components/Form.astro';
let title = 'More UI';
let description = 'More usable interfaces in components';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <HeadMeta title={title} description={description} />
</head>
<body>
    <Container>
        <img class="w-1/4 m-auto" src="/logo.png" alt="{title} logo">
        <h1 class="text-3xl mb-5">{title}</h1>
        <p class="text-xl">{description}</p>
    </Container>
    <Container>
        <Form />
    </Container>
</body>
</html>