---
import HeadMeta from '../components/HeadMeta.astro';
let title = 'More UI';
let description = 'More usable interfaces in components';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <HeadMeta title={title} description={description} />
</head>
<body>
    <div class="bg-white rounded-lg p-5 pb-20 m-5 text-center text-sm text-blue-700 max-w-lg md:my-5 md:m-auto shadow-2xl">
        <img src="/logo.png" alt="{title} logo">
        <h1 class="text-3xl mb-5">{title}</h1>
        <p class="text-xl">{description}</p>
    </div>
</body>
</html>